.div{
    color: red;
    background-color: #282A3A;
}



.tamgod{
    width: 30px;
    height: 30px;

}

.fondo{
    background-image: url(img/fondo\ \(2\).jpg);
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
   

}
.maxpan{
    object-fit: cover;
    width: 100%;
    height: 100vh;
 }

 .contai{
    height: 100%;
 }



 .cuadroimg{
   
    max-width: 45px;
    max-height: 45px;
 }

 .tamatar{
    width: 400px;
 }

 .tam{
  height: 40px;
 }
 .bd-example {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.tags{
   background-color: #254de4;

}
.tagse{
   height: 30px;
   width: 30px;
}
.spac{
   padding-left: 5px;
}
.foto{
  height: 200px;
}
